In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/devansh-cpp/CBTCIP/main/Spam%20Email%20Detection/Spam%20Email%20Detection%20-%20spam.csv")

In [9]:

df = df.rename(columns={'v1': 'Category','v2':'Message'})

In [15]:
print(df)

     Category                                            Message Unnamed: 2  \
0         ham  Go until jurong point, crazy.. Available only ...        NaN
1         ham                      Ok lar... Joking wif u oni...        NaN
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3         ham  U dun say so early hor... U c already then say...        NaN
4         ham  Nah I don't think he goes to usf, he lives aro...        NaN
...       ...                                                ...        ...
5567     spam  This is the 2nd time we have tried 2 contact u...        NaN
5568      ham              Will �_ b going to esplanade fr home?        NaN
5569      ham  Pity, * was in mood for that. So...any other s...        NaN
5570      ham  The guy did some bitching but I acted like i'd...        NaN
5571      ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [16]:
data = df.where((pd.notnull(df)),'')
data.head()

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Category    5572 non-null   object
 1   Message     5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

In [18]:
data.shape

(5572, 5)

In [19]:
data.loc[data['Category']== 'spam','Category',] = 0
data.loc[data['Category']== 'ham','Category',] = 1
X = data['Message']
Y = data['Category']
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [20]:
X_train, X_test, Y_train,Y_test= train_test_split(X,Y,test_size=0.2,random_state =3)
print(X.shape)
print(X_train.shape)
print(X_test.shape)
print(Y.shape)
print(Y_train.shape)
print(Y_test.shape)

(5572,)
(4457,)
(1115,)
(5572,)
(4457,)
(1115,)

In [21]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [22]:
print(X_train)

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: Message, Length: 4457, dtype: object

In [23]:
print(X_train_features)

  (0, 742)	0.32207229533730536
  (0, 3962)	0.2411608243124387
  (0, 4279)	0.3893042361045832
  (0, 6580)	0.20305518394534605
  (0, 3375)	0.32207229533730536
  (0, 2116)	0.38519642807943744
  (0, 3126)	0.4403035234544808
  (0, 3251)	0.258880502955985
  (0, 3369)	0.21816477736422235
  (0, 4497)	0.2910887633154199
  (1, 4045)	0.380431198316959
  (1, 6850)	0.4306015894277422
  (1, 6397)	0.4769136859540388
  (1, 6422)	0.5652509076654626
  (1, 7420)	0.35056971070320353
  (2, 934)	0.4917598465723273
  (2, 2103)	0.42972812260098503
  (2, 3899)	0.40088501350982736
  (2, 2220)	0.413484525934624
  (2, 5806)	0.4917598465723273
  (3, 6121)	0.4903863168693604
  (3, 1595)	0.5927091854194291
  (3, 1838)	0.3708680641487708
  (3, 7430)	0.5202633571003087
  (4, 2523)	0.7419319091456392
  :	:
  (4452, 2116)	0.3092200696489299
  (4453, 1000)	0.6760129013031282
  (4453, 7250)	0.5787739591782677
  (4453, 1758)	0.45610005640082985
  (4454, 3019)	0.42618909997886
  (4454, 2080)	0.3809693742808703
  (4454, 3078)	0.34475593009514444
  (4454, 1995)	0.4166919007849217
  (4454, 1050)	0.31932060116006045
  (4454, 7323)	0.31166263834107377
  (4454, 5351)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6413)	0.38998123077430413
  (4455, 6341)	0.25697343671652706
  (4455, 2755)	0.3226323745940581
  (4455, 7335)	0.2915949626395065
  (4455, 7384)	0.3028481995557642
  (4455, 2102)	0.3136468384526087
  (4455, 4235)	0.30616657078392584
  (4455, 3745)	0.16807158405536876
  (4455, 4755)	0.35860460546223444
  (4456, 6098)	0.5304350313291551
  (4456, 6114)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4541)	0.48821933148688146

In [24]:
model = LogisticRegression()
model.fit(X_train_features,Y_train)
#working for training data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)
print("Accuracy on training data : ",accuracy_on_training_data)

#now working for test data

prediction_on_test_data=model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(Y_test,prediction_on_test_data)
print("Accuracy on Test data : ",accuracy_on_test_data)

Accuracy on training data :  0.9661207089970832
Accuracy on Test data :  0.9623318385650225

In [25]:
input_your_mail =['SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info']
input_data_features = feature_extraction.transform(input_your_mail)
prediction = model.predict(input_data_features)
print(prediction)
if(prediction[0]==1):
    print('Ham mail')
else:
    print('Spam Mail')

[0]
Spam Mail

In [26]:
input_your_mail =['Please verify your email for CodeVita Compietition']
input_data_features = feature_extraction.transform(input_your_mail)
prediction = model.predict(input_data_features)
print(prediction)
if(prediction[0]==1):
    print('Ham mail')
else:
    print('Spam Mail')

[1]
Ham mail